

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;          
  margin: 10px auto;      
  width: 80%;         
  background-color: #f8f9fa;
  padding: 1.125rem;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  z-index: 1000;       
  text-align: center; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  } 

 
  
  .fixed-header h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .fixed-header .d-flex {
    margin-top: 0.5rem;
  }


  /* saddddasdajhdajhbdajhbd */

   .custom-button {
    color: rgb(255, 255, 255);
    font-size: 1rem; /* Moderate text size */
    padding: 0.5rem 1rem; /* Adjust padding for size */
    border-radius: 10px; /* Curved corners */
    width: auto; /* Dynamic width based on content */
  }
  
  .fixed-header .p-d-flex .p-mr-3,
  .fixed-header .p-d-flex .p-ml-3 {
    margin: 0 10px; /* Add consistent spacing between buttons */
  }
  
  