<div class="container mt-4">
    
    <div class="card p-4">
      <h3>Total Tickets Left: <span class="text-info">{{ ticketsLeft }}</span></h3>
      <p class="mt-2"><strong>System Status:</strong> {{ systemStatus }}</p>
  
      <div class="mt-4">
        <h4>Log</h4>
        <ul class="list-group log-container">
          <li class="list-group-item" *ngFor="let message of logMessages">{{ message }}</li>
        </ul>
      </div>
    </div>
  </div>
  
 

  <!-- <div class="fixed-header">
    <h2 class="text-center">Ticketing System Control</h2>
    <div class="d-flex justify-content-center">
      <button class="btn btn-success mx-2" (click)="startSystem()">Start System</button>
      <button class="btn btn-danger mx-2" (click)="stopSystem()">Stop System</button>
    </div>
  </div>
  
  <div class="container mt-5 pt-5 main-content">
    <div class="card p-4">
      <h3>Total Tickets Left: <span class="text-info">{{ ticketsLeft }}</span></h3>
      <p class="mt-2"><strong>System Status:</strong> {{ systemStatus }}</p>
  
      <div class="mt-4">
        <h4>Log</h4>
        <ul class="list-group log-container">
          <li class="list-group-item" *ngFor="let message of logMessages">{{ message }}</li>
        </ul>
      </div>
    </div>
  </div> -->