.status-badge {
  padding: 0 6px; /* Add padding for better spacing */
  border-radius: 5px; /* Round the corners */
  font-weight: bold; /* Make the text bold */
  color: white !important; /* Text color */
  display: inline-block; /* Ensure proper spacing and background display */
  margin-left: 5px;
}

.text-success {
  background-color: rgb(31, 208, 31); /* Green background for 'Started' */
}

.text-danger {
  background-color: red; /* Red background for 'Stopped' */
}



.log-container { 
  width: 100%;           
  max-width: 600px;     
  height: 300px;        
  overflow-y: auto;     
  border: 1px solid #444; 
  border-radius: 5px;   
  padding: 10px;        
  background-color: #000000;

  font-family: "Courier New", Courier, monospace;
  font-size: 14px;

  overflow-y: auto;
  }  

  .log-container li {
    margin-bottom: 5px; 
    color: #0fd215; 
  }

  h4 {
    color: #000000;
    font-family: "Arial", sans-serif;
    margin-bottom: 15px; 
  }

  /* Custom Progress Bar */
.custom-progress-bar {
  height: 11px; /* Set the thickness of the progress bar */
  background-color: #f1f1f1; /* Background for the bar container */
  border-radius: 4px; /* Optional: Rounded corners */
  overflow: hidden;
}

.custom-progress-bar-fill {
  height: 100%; /* Ensure the fill covers the full height */
  background-color: #3ed23b; /* Blue color for the bar */
  transition: width 0.5s ease-in-out; /* Smooth transition for changes in width */
  font-size: 10px; /* Adjust font size to fit the thinner bar */
  color: white; /* Text color inside the bar */
  line-height: 8px; /* Align text vertically */
}